$--colors: (
  'primary': (
    'base': #18bcbc
  )
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with
  (
    $colors: $--colors,
    $button-padding-horizontal: ('default': 12px),
    // $button-padding-vertical: ('default', 6px)
  );

// if you want to import all
// @use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
// @debug $--colors;
